body{
    padding:0;
    margin:0;
    box-sizing: border-box;
font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
}

#wrapper {
    width: 90%;
    height: 100vh;
}
#header {
    width: 100%;
    padding:0px 30px;
    margin-top:33px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin:0px 25px;
    font-size: medium;
}

#menu .item a {
    color:#626A67;
    text-decoration: none;
}

#banner {
    width: 90%;
    background-image :url("./assets/img-ga-banner-774-555.png");
    height: 463px;
    margin-top:40px;
    display: flex;
    padding:0px 133px;
    position:relative;
}

#banner .box-left ,#banner .box-right {
    width: 50%;
}

#banner  .box-left h2 {
    font-size: 75px;
    margin-top:75px;
    color: white;
}

#banner .box-left p {
    color: white;
    font-size: medium;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top:41px;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
}

#banner .box-left button:hover {
    background:orange;
}

#wp-products {
    padding-top:116px;
    padding-bottom: 78px;
    padding-left:134px;
    padding-right:134px;
}

#wp-products h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size:32px;
    color:#626a67;
}


#list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#list-products .item {
    width: 290px;
    height: 374px;
    background:#362f2f;
    border-radius: 10px;
    margin-bottom: 50px;
}

#list-products .item img {
    display: block;
    margin:0px auto;
    margin-top:17px;
}

#list-products .item .stars {

    display: flex;
    margin:0px auto;
    width: 50%;
}

#list-products .item .name {
    text-align: center;
    color:#fff;
    font-weight: bold;
    margin-top:21px;
}

#list-products .item .price {
    text-align: center;
    color:#f42424;
    font-weight: bold;
    margin-top: 30px;
}


.list-page {
    width: 50%;
    margin:0px auto;
}

.list-page {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.list-page .item {
    margin:0px 15px;
    width: 37px;
    height: 37px;
    background:#362f2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-page .item a {
    color:#fff;
    text-decoration: none;
}
#footer{
    width: 100%;
    background: #362f2f;
    height: 250px;
    margin-top: 80px;
    padding: 0px 63px;
    padding-top: 57px;
    display: flex;
    justify-content: space-around;
}
#footer .box{
    width: 250px;
    color: #fff;
}
#footer .box .quick-menu{
    margin-top: 40px;
    padding-left: 0px;
}
#footer .box .quick-menu .item{
    margin-bottom: 12px;
 
}
#footer .box .quick-menu .item a{
    color: #fff;
    text-decoration: none;

}
#footer .box form input{
    width: 294px;
    height: 42px;
    background: transparent;
    padding-left: 20px;
    color: white;
}
#footer .box form button{
    background-color: #362f2f;
    width: 163px;
    height: 38px;
    margin-top: 29px;
    color: #fff;
}
#main{
    width: 80%;
    margin-left: 237px;
}